.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: #fff;
    background-color: #2196F3;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0c7cd5;
}

.badge-secondary {
    color: #212121;
    background-color: #fff;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
    color: #212121;
    text-decoration: none;
    background-color: #e6e5e5;
}

.badge-success {
    color: #fff;
    background-color: #4CAF50;
}

.badge-success[href]:hover, .badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3d8b40;
}

.badge-info {
    color: #f0f0f0;
    background-color: #9224a5;
}

.badge-info[href]:hover, .badge-info[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #771e86;
}

.badge-warning {
    color: #fff;
    background-color: #ff9800;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #cc7a00;
}

.badge-danger {
    color: #fff;
    background-color: #e51c23;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #b9151b;
}

.badge-light {
    color: #212121;
    background-color: #fff;
}

.badge-light[href]:hover, .badge-light[href]:focus {
    color: #212121;
    text-decoration: none;
    background-color: #e6e5e5;
}

.badge-dark {
    color: #fff;
    background-color: #222;
}

.badge-dark[href]:hover, .badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #090808;
}

.badge-secondary {
    background-color: #bbb;
    color: #fff;
}

.badge-light {
    background-color: #eee;
}

.badge-warning {
    color: #fff;
}

.indigo {
    background-color: #3b5998;
    color: #fff;
}

.indigo[href]:hover, .indigo[href]:focus {
    background-color: #3b5998;
    text-decoration: none;
    color: #fff;
}

.purple {
    background-color: rebeccapurple;
    color: #fff;
}

.purple[href]:hover, .purple[href]:focus{
    background-color: rebeccapurple;
    text-decoration: none;
    color: #fff;
}

.blue-twitter {
    background-color: #2ba9e1;
    color: #fff;
}

.blue-twitter[href]:hover, .blue-twitter[href]:focus{
    background-color: #2ba9e1;
    text-decoration: none;
    color: #fff;
}

.orange {
    background-color: darkgoldenrod;
    color: #fff;
}

.orange[href]:hover, .orange[href]:focus{
    background-color: darkgoldenrod;
    text-decoration: none;
    color: #fff;
}

.green {
    background-color: darkgreen;
    color: #fff;
}

.green[href]:hover, .green[href]:focus{
    background-color: darkgreen;
    text-decoration: none;
    color: #fff;
}

.pink {
    background-color: lightpink;
    color: gray;
}

.pink[href]:hover, .pink[href]:focus{
    background-color: lightpink;
    text-decoration: none;
    color: gray;
}